
.container{
    padding: 15px;
}
h3{
    color: white;
}

button{
    border: 3px solid lightcoral;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin: 5px;
    background-color: black;
    color: lightcoral;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
}
button:hover{
    cursor: pointer;
    background-color: white;
}